In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:/peoplepulse/data/raw/WA_Fn-UseC_-HR-Employee-Attrition.csv')

Clean column names

In [3]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')

Convert Attrition to binary

In [4]:
df['attrition_flag'] = df['attrition'].map({'Yes': 1, 'No': 0})

In [10]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'attrition_flag', 'tenure_bucket'],
      dtype='object')

Create new column 'tenure_bucket' from total_working_years column

In [18]:
df['total_working_years'] = df['totalworkingyears'].fillna(0)

In [19]:
df['tenure_bucket'] = pd.cut(df['total_working_years'],
                             bins=[0, 2, 5, 10, 20, np.inf],
                             labels=['0-2 yrs', '3-5 yrs', '6-10 yrs', '11-20 yrs', '20+ yrs'])

In [23]:
df = df[df['tenure_bucket'].notna()]

Create 'satisfaction_index' column from existing satisfaction columns

In [11]:
satisfaction_cols = ['environmentsatisfaction', 'jobsatisfaction', 'relationshipsatisfaction']
df['satisfaction_index'] = df[satisfaction_cols].mean(axis=1)

Drop unnecessary columns

In [12]:
drop_cols = ['employeenumber', 'over18', 'standardhours', 'employeecount']
df.drop(columns=[col for col in drop_cols if col in df.columns], inplace=True)

Save cleaned file

In [21]:
tenure_sort_map = {
    '0-2 yrs': 1,
    '3-5 yrs': 2,
    '6-10 yrs': 3,
    '11-20 yrs': 4,
    '20+ yrs': 5
}

df['tenure_bucket_sort'] = df['tenure_bucket'].map(tenure_sort_map)

In [25]:
df.to_csv('D:/peoplepulse/data/processed/hr_employee_attrition_clean.csv', index=False)